.descript {
	padding: 50px 0;
	background-color: #e8dfd1;
}

.product-preview {
	padding: 50px 0;
	background-color: #e8d1e6;
}

.model-review .btn-group-vertical,
.model-review .dropdown-menu {
	width: 100%;
}

@media screen (max-width: 500px){
	h4 {
		font-size: 10px;
	}
}